.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  border-radius: 5px;  
  background: var(--color-gray-200);
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%; 
  background: var(--color-indigo-600);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--color-indigo-600);
  cursor: pointer;
}