@import "tailwindcss";

html,
body {
  height: 100%;
}

.fullheight {
  min-height: 100%;
} 

::view-transition-new(disabled),
::view-transition-old(disabled) {
  animation-duration: 0s;
}
.noViewTransition {
  view-transition-name: disabled;
}
@media (width > 64rem) {  
  main {
    view-transition-name: disabled;
  }
}
@media (width < 64rem) {  
  main {
    padding-top: calc(64px + env(safe-area-inset-top));
    padding-bottom: calc(54px + env(safe-area-inset-bottom));
    view-transition-name: main;
  }

  ::view-transition-new(main),
  ::view-transition-old(main) {
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-direction: normal;
  }
  ::view-transition-old(main) {
    animation-name: slide-out;
  }
  ::view-transition-new(main) {
    animation-name: slide-in;
    mix-blend-mode: normal;
  }
  .back-transition::view-transition-new(main) {
    animation-name: slide-out-reverse;
  }
  .back-transition::view-transition-old(main) {
    animation-name: slide-in-reverse;
    mix-blend-mode: normal;
    z-index: 1;
  }
  @keyframes slide-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-20%);
    }
  }
  @keyframes slide-out-reverse {
    from {
      transform: translateX(-20%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slide-in-reverse {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }      
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-size: 14px;
}